<modal-title
  title="Crear pedido"
  subtitle="Elija el empleado que se encargará del pedido"
  (iconClicked)="onIconClick()"
></modal-title>
<form
  (ngSubmit)="onSubmit(formInformacion.value)"
  [formGroup]="formInformacion"
>
  <mat-form-field appearance="outline">
    <mat-label>Seleccionar empleado</mat-label>

    <mat-select formControlName="empleado" [disabled]="empleados.length == 0">
      <mat-option *ngFor="let emp of empleados" [value]="emp.idEmpleado">
        {{ emp.nombre }}
        {{ emp.apellidoPaterno != "null" ? emp.apellidoPaterno : "" }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button [disabled]="!formInformacion.valid" mat-raised-button color="primary">
    SIGUIENTE
  </button>
</form>
