.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    section-card {
      margin: 20px;
      width: 40%;
      flex-grow: 1;
    }
  }
  
  p {
    color: rgb(155, 155, 155);
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin-top: 30px;
    mat-icon {
      transform: scale(1.75);
      margin-right: 20px;
    }
    span {
      font-size: 35px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 850px) {
    .card-container {
      section-card {
        margin: 20px 0px;
  
        width: 100%;
      }
    }
  }
  