<div class="container">
  <div class="title-container">
    <span>Empleados</span>
    <p>
      Aquí podras gestionar todo lo relacionado con nuestros empleados o
      consultar tu información personal.
    </p>
  </div>
  <div class="card-container">
    <ng-container *ngFor="let section of sections">
      <section-card
        *ngIf="section.canActivate"
        [title]="section.title"
        [description]="section.description"
        [icon]="section.icon"
        [action]="section.action"
        (buttonClicked)="section.onClick()"
      ></section-card>
    </ng-container>
  </div>
</div>
