<modal-title
  [title]="edit ? 'Editar tipo de empleado' : 'Registrar Tipo de Empleado'"
  subtitle="Ingrese la información del tipo de empleado"
  (iconClicked)="onIconClick()"
></modal-title>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <mat-form-field appearance="outline">
    <mat-label>Nombre del tipo de empleado</mat-label>
    <input matInput formControlName="nombreTipoEmpleado" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Salario (mensual)</mat-label>
    <input matInput formControlName="sueldo" type="number" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Hora de entrada</mat-label>
    <input
      matInput
      [ngxTimepicker]="entranceHour"
      formControlName="horaEntrada"
      readonly
    />
    <ngx-material-timepicker #entranceHour></ngx-material-timepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Hora de salida</mat-label>
    <input
      matInput
      [ngxTimepicker]="exitHour"
      formControlName="horaSalida"
      readonly
    />
    <ngx-material-timepicker #exitHour></ngx-material-timepicker>
  </mat-form-field>
  <button [disabled]="!form.valid" mat-raised-button color="primary">
    SIGUIENTE
  </button>
</form>
