<div class="dialog" [ngSwitch]="currentStatus">
  <ng-container *ngSwitchCase="Status.loaded">
    <ng-container [ngSwitch]="currentPage">
      <app-employee-list
        (submitForm)="addPedido($event)"
        (iconClicked)="clickIcon()"
        [pedido]="pedido"
        [edit]="edit"
        *ngSwitchCase="Pages.employeeList"
      ></app-employee-list>

      <!-- <address
        (iconClicked)="changePage(Pages.personalInfo)"
        (submitForm)="addAddress($event)"
        [empleado]="empleado"
        [edit]="edit"
        *ngSwitchCase="Pages.address"
      ></address>
      <employee-info
        (submitForm)="addEmployeeInfo($event)"
        [edit]="edit"
        [empleado]="empleado"
        (iconClicked)="changePage(Pages.address)"
        *ngSwitchCase="Pages.employeeInfo"
      >
      </employee-info> -->
    </ng-container>
  </ng-container>
</div>
