<modal-title
  title="Privilegios de Empleado"
  [type]="HeaderType.goBack"
  subtitle="Seleccione los privilegios del tipo de empleado"
  (iconClicked)="onIconClick()"
></modal-title>
<div class="content">
  <mat-selection-list #privilegiosList>
    <mat-list-option
      *ngFor="let privilegio of privilegios"
      [value]="privilegio"
    >
      {{ privilegio.nombre }}
    </mat-list-option>
  </mat-selection-list>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit(privilegiosList.selectedOptions.selected)"
  >
    Registrar
  </button>
</div>
