<div class="dialog">
  <modal-title
    title="Registrar Empleado"
    subtitle="Ingrese la información personal del empleado"
    (closeClicked)="close()"
  ></modal-title>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido paterno</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido materno</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de empleado</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">SIGUIENTE</button>
  </form>
</div>
