.dialog {
  min-width: 300px;
  max-width: 500px;
  min-height: 100px;
}

.status {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.info {
  height: 170px;
}

@media (max-width: 600px) {
  .dialog {
    min-width: fit-content;
  }
}
