<modal-title
  title="Añadir alimento"
  subtitle="Seleccione el tipo de alimentos que quiera agregar"
  (iconClicked)="onIconClick()"
></modal-title>
<div class="list-section" *ngIf="tipoAlimentos.length > 0; else empty">
  <div
    class="alimento-section"
    *ngFor="let tipo of tipoAlimentos"
    (click)="onTypeSelected(tipo)"
    mat-ripple
  >
    <span>{{ tipo.nombre }}</span>
    <mat-icon>chevron_right</mat-icon>
  </div>
</div>
<ng-template #empty>
  <div class="empty-section">
    <mat-icon>help_outline</mat-icon>
    <span>No hay alimentos registrados</span>
  </div>
</ng-template>
