<router-outlet *ngIf="!isLoggedIn; else loggedIn"></router-outlet>

<ng-template #loggedIn>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="innerWidth > 1234 ? 'side' : 'over'"
      class="sidenav"
      [(opened)]="opened"
    >
    <h1>Bar delow</h1>
      <mat-list>
        <mat-list-item
          *ngFor="let menu of menuSections"
          [routerLink]="menu.route"
          routerLinkActive="selected-item"
        >
          <mat-icon class="material-icons-outlined" mat-list-icon>{{
            menu.icon
          }}</mat-icon>
          <div mat-line>{{ menu.title }}</div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
