<ng-container [ngSwitch]="currentStatus">
  <div class="container" *ngSwitchCase="Status.loaded">
    <div class="header">
      <div class="title-container">
        <span>Factura</span>
        <h1>Bar delow</h1>
      </div>
      <img class="logo" src="assets/logo.png" />
    </div>
    <div class="factura-info">
      <div class="direccion">
        <span
          >Direccion: {{ factura.nombreColoniaNegocio }},
          {{ factura.nombreCalleNegocio }}, {{ factura.numeroNegocio }}</span
        >
        <span
          >Ciudad: {{ factura.nombreMunicipioNegocio }},
          {{ factura.nombreEstadoNegocio }}, {{ factura.nombrePaisNegocio }}
        </span>
        <span>Teléfono: {{ factura.telefonoNegocio }}</span>
      </div>
      <div class="info-general">
        <span>Fecha: {{ factura.fechaFactura | date: "fullDate" }}</span>
        <span># de factura: {{ factura.idFactura }} </span>
      </div>
    </div>
    <div class="factura-personal-info">
      <span>Facturar a:</span>
      <span
        >Nombre: {{ factura.nombre }} {{ factura.apPaterno }}
        {{ factura.apMaterno }}
      </span>
      <span>Teléfono: {{ factura.telefono }}</span>
      <span
        >Direccion: {{ factura.nombreColonia }}, {{ factura.nombreCalle }},
        {{ factura.numero }}</span
      >
      <span
        >Ciudad: {{ factura.nombreMunicipio }}, {{ factura.nombreEstado }},
        {{ factura.nombrePais }}
      </span>
      <span>RFC: {{ factura.RFC }}</span>
      <span>Concepto: {{ factura.concepto }}</span>
    </div>
    <div class="detalle">
      <table>
        <th class="nombre">Nombre</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Precio</th>
        <tr *ngFor="let detalle of factura.detalles">
          <td>{{ detalle.nombreAlimento }}</td>
          <td>{{ detalle.cantidad }}</td>
          <td>{{ detalle.precio }}</td>
          <td>{{ detalle.precio * detalle.cantidad }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Subtotal</td>
          <td>{{ factura.subtotal | currency: "MXN" }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Descuento</td>
          <td>-{{ factura.subtotal * factura.descuento | currency: "MXN" }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{ factura.total | currency: "MXN" }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="status" *ngSwitchCase="Status.loading">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</ng-container>
