<div class="dialog" [ngSwitch]="currentStatus">
  <ng-container *ngSwitchCase="Status.loaded" [ngSwitch]="currentPage">
    <editar-empleado-main
      (iconClicked)="close()"
      [empleado]="empleado"
      (tileClicked)="changePage($event)"
      *ngSwitchCase="Pages.main"
    ></editar-empleado-main>

    <crear-empleado
      (userCreated)="onUserEdited()"
      (iconClicked)="changePage(Pages.main)"
      [edit]="true"
      [empleado]="empleado"
      *ngSwitchCase="Pages.editInfo"
    ></crear-empleado>

    <editar-contrasena
      [empleado]="empleado"
      (iconClicked)="changePage(Pages.main)"
      *ngSwitchCase="Pages.changePassword"
    ></editar-contrasena>
  </ng-container>
</div>
