<mat-card class="card-content mat-elevation-z4">
  <h4 class="title">Login</h4>
  <mat-divider [inset]="true"></mat-divider>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <mat-form-field appearance="outline">
      <mat-label>Numero de empleado</mat-label>
      <mat-icon matSuffix>account_circle</mat-icon>
      <input matInput formControlName="numEmpleado" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button class="login-btn" type="submit" mat-raised-button color="primary">
      Login
    </button>
  </form>
</mat-card>
